.container-footer{
    display: block;
    text-align: center;
    
    width: auto;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 7.5rem;
}

.FooterIcon{
    width: 80px;
    height: 80px;
    
}

