$shadow : 0 20px 25px -15px rgba(0, 0, 0, .3);
$filter_red :  invert(27%) sepia(15%) saturate(4353%) hue-rotate(315deg) brightness(102%) contrast(83%);
$primary: #a43f49;
$dark-primary: #303F9F;
$light-primary: #C5CAE9;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #FF4081;