.card-horizontal-left {
    display: flex;
    flex: 1 1 auto;
    background-color: #f5f5f5;
    
}

.card-horizontal-right {
    
    display: flex;
    flex: 1 1 auto;
    background-color: #f7f7f7;
}
.card{
    border-width: 6px;
    /*border: 8px solid ;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color:#007bff ;*/
    border: 1.5px solid rgba(191, 191, 191, 0.4)
}

.card:hover .card-title{
    color: #0078ff;

}



.card:hover {
    transform: scale(1.05);
      
      
    transition: transform .2s;

}

.img-card-left{
    
    height: 300px;
    width: 300px;
}

.img-card-right{
    
    max-height: 300px;
    max-width: 300px;
}



.info {
    
    color: grey;
    
}


    
